*{
    margin: 0%;
    padding: 0;
}

footer{
    padding: 1em !important;
    background-color: #B75353 !important;
    position: fixed !important;
    position: absolute !important;
    width: 100% !important;
}

#titulo{
    text-align: center !important;
    position: absolute;
    top: 100px;
    left:750px ;
}

body{
    background-image: url("/img/Folhagem.jpg") !important;
}
#div1{
    position: absolute !important;
    top: 300px !important;
    left: 500px !important;
}

#converter {
    position: absolute !important;
    top: 400px !important;
    left: 800px !important;
}