*{
    margin: 0%;
    padding: 0;
}

#footer{
    padding: 1em;
    background-color: #B75353;
    position: fixed;
    position: absolute;
    width: 100%;
}

#titulo{
    text-align: center;
}

body{
    background-image: url("/img/Folhagem.jpg");
}